%thead
  %tr
    %th Avatar
    %th First name
    %th Second name
    %th
    %th
    %th

  %tbody
    - @profiles.each do |profile|
      %tr
        %td= image_tag profile.avatar.url, alt: 'Cinque Terre', width: '150', height: '150'

        %td.h2= profile.first_name
        %td.h2= profile.second_name
        %td.h2= link_to 'Show', profile