#paintings
  - @posts.image.each do |post|
    .painting
      = image_tag post.image
      .name= user.name
      .actions
        = link_to "edit", edit_user_path(image)
        |
        \#{link_to "remove", painting, :confirm => 'Are you sure?', :method => :delete}
  .clear
