.like_button
  - if current_user.likes?(@post)
    = link_to unlikes_post_path(@post), method: :post, remote: true do
      %i.glyphicon.glyphicon-star
  - else
    = link_to likes_post_path(@post), method: :post, remote: true do
      %i.glyphicon.glyphicon-star-empty
  = @post.likers(User).count